@mixin fontFace($name, $weight, $italic: false) {
	$url: '/fonts/' + $name + '-' + $weight + if($italic, '-italic', '') + '.woff';
	@font-face {
		font-family: $name;
		src: url($url+'2') format('woff2'), url($url) format('woff');
		font-weight: $weight;
		@if ($italic) {
			font-style: italic;
		}
		font-display: swap;
	}
}
